.formDiv {
    align-items: center;
    justify-content: center;
    display: flex;
}

.formDivInner {
    border: 2px solid black;
    padding: 20px;
    background-color: silver;
}

.formDivInner form {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.checkbox {
    transform: scale(1.5);
}

.rememberMeDiv {
    display: flex;
}

.wrongPassword p {
    margin: 15px 5px;
    font-size: 18px;
    background-color: white;
    color: red;
    border: 1px solid red;
    padding: 5px;
}